header {
	text-align: center;
}
.txt {
	font-size: 24px;
}
.txtDisplay {
	font-size: 24px;
	letter-spacing: 5px;
}

#gImage {
	margin: 20px auto;
}
#rtbox {
	border: 5px inset;
	border-radius: 10px;
	text-align: center;
}
#lfbox {
	border: 5px inset;
	border-radius: 10px;
	background: white;
	color: blue;
	text-align: center;
}